# Executáveis do projeto (Windows e Linux/Mac)
*.exe
*.out
transpiler

# Arquivos C gerados automaticamente pelo Flex e Bison
lex.yy.c
syntax.tab.c
syntax.tab.h

# Arquivos de log ou relatórios opcionais que o Bison pode gerar
*.output

# Pastas de configuração do VS Code ou do sistema
.vscode/
.DS_Store
Thumbs.db
